@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Twinkle+Star&display=swap');

.open-sans-font {
  font-family: "Twinkle-Star", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
}
.padding{    
    background-color: rgba(103, 194, 60, 0.521);
}

.banner{
    padding-top: 20px;
    width: 1200px;
    height: 500px;
    background-image: url('pre-prepared-food-showcasing-ready-eat-delicious-meals-go.jpg');
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    opacity: 95%;
   text-align: center;
}
.food{
    padding-top: 110px;
    text-align: center;
    color: azure;
    font-weight: bolder;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
   
   
}
.description{
    color: white;
    font-size: 20px;    
    text-align: center;
    padding-top: 130px;   
    font-family: Georgia, Times, 'Times New Roman', serif;   
}
.background{
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 0px;
    max-width: 1200px;
    margin: auto;

}
.border{
    border: 10px solid orangered;
    border-radius: 20px;
}
.image{
    display: flex;
    gap: 20px;}

.items{
    margin-left: 20px;
    padding: 5px;
}
li{
    font-size: 20px;
    padding: 5px;

}
.btn{
   padding: 10px;
   font-size: 20px;
   background-color: white;
   border-radius: 5px;
   cursor: pointer;   
   color: orangered;
   font-weight: bold;  
   margin-top: 20px;
   border: 2px solid orangered;
}
.btn:hover{
    background-color:   rgb(52, 201, 144) ;
}
/* video content section  */
.video-content{
    margin: 0 auto;
    text-align: center;    
    background-color: orangered;
    max-width: 1200px;
}
.food-title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.video-section{
    padding: 40px;
}
/* navbar */
.nav-bar{
    max-width: 1200px;
    margin: 0 auto;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.logo-title{
    font-size: 36px;
    font-style: italic;
    font-family: 'Twinkle-Star';
    color: rgb(250, 248, 248);  
    font-weight: bolder;  
}
.logo{
    display: flex;
    align-items: center;      
    border-radius: 15px;
    font-weight: bolder;
    margin-left: 30px;
    
}
.list{
    display: flex;
    gap: 10px;
   
}
.menu{
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: white;
    
    
    
}
nav li{
    list-style: none;
     font-size: 18px;
   
}
.a-lists:hover{
    color: rgb(88, 241, 27);
}